<div class="mt-4">
  <p *ngIf="todos.length < 1" class="text-center">No Record Found!</p>
  <ul class="flex flex-col gap-2">
    <!-- Single Task Item -->
    <li
      (click)="completeTodo(todo.id)"
      *ngFor="let todo of todos"
      class="w-full flex items-center justify-between capitalize p-2 border border-slate-400 hover:border-l-indigo-600 hover:border-l-4 duration-300 transition-all rounded-md overflow-hidden {{
        todo.isCompleted ? 'underline bg-green-400' : null
      }}"
    >
      {{ todo.task }}
      <button (click)="deleteTodo(todo.id)">
        <i class="fas fa-times"></i>
      </button>
    </li>
  </ul>
</div>
