<div class="min-h-screen w-full flex justify-center items-center bg-slate-100">
  <div class="w-full max-w-[550px] bg-white shadow rounded-md">
    <div class="p-6">
      <h1 class="text-center text-2xl capitalize font-semibold">{{ title }}</h1>
      <div class="mt-8 container">
        <div
          class="input-group border border-slate-300 rounded-md flex justify-between overflow-hidden p-2"
        >
          <input
            type="text"
            class="w-full focus:outline-none text-lg rounded-md flex-grow pl-2"
            placeholder="Add New Task"
            [(ngModel)]="task"
          />
          <button
            class="bg-indigo-600 p-2 text-white font-semibold uppercase rounded-md px-4"
            (click)="handleTaskSubmit()"
          >
            Add
          </button>
        </div>
        <!-- {{ task }} -->
        <!-- Task List Container -->
        <app-tasks></app-tasks>
      </div>
    </div>
  </div>
</div>
